---
import "../styles/main.css";
import Header from '../components/shared/Header.astro';
import Navbar from '../components/shared/Navbar.astro';
import { ViewTransitions } from "astro:transitions";
interface Props {
	title: string;
	hasBackButton?: boolean;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" /> 
		<!-- <meta name="viewport" content="viewport-fit=cover"> DESCOMENTAR PARA IPHONE -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="font-custom">
		<div class="min-h-screen bg-gray-100">
			<Header title={title} />
			<div class="p-5">
				<slot />
			</div>
			<Navbar />
		</div>
	</body>
</html>