---
import "../styles/main.css";
import Header from '../components/shared/Header.astro';
import { ViewTransitions } from "astro:transitions";
import Navbar from "../components/shared/Navbar.astro";
interface Props {
	title: string;
	hasBackButton?: boolean;
	hideNavbar?: boolean;
}

const { title, hasBackButton, hideNavbar } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, viewport-fit=cover" />
		<!-- <meta name="viewport" content="viewport-fit=cover"> DESCOMENTAR PARA IPHONE -->
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class="font-custom">
		<div class="min-h-screen bg-gray-100">
			<Header title={title} hasBackButton={hasBackButton} />
			<div class="p-5">
				<slot />
			</div>
			{!hideNavbar && <Navbar />}
		</div>
	</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>