---
const { label, options } = Astro.props;
---

<div class="my-4">
    <label class="label">
        <span class="label-text">{label}</span>
      </label>
    <select class="select select-bordered w-full">
        {options.map(option => (
            <option>{option.name}</option>
        ))}
    </select>
</div>