---
import H1 from "./Heading/H1";
import IconGoBack from "./icons/IconGoBack";

const { hasBackButton, title } = Astro.props;
---

<div class="navbar">
	<div class="flex-none">
	  	{hasBackButton && (
			<a class="btn btn-square btn-ghost" href="/">
				<IconGoBack />
			</a>
		)}
	</div>
	<div class:list={[ 
		"flex-1", 
		{ "ml-3": !hasBackButton }
	]}>
		<H1>{title}</H1>	
	</div>
</div>