---
import IconGoBack from "./icons/IconGoBack.astro";
import Heading1 from "./Heading/H1.astro";
const { title, hasBackButton } = Astro.props;
// TODO: hasBackButton is
---


<div class="navbar">
	<div class="flex-none">
	  	{hasBackButton && (
			<buttonbutton class="btn btn-square btn-ghost">
				<IconGoBack />
			</buttonbutton>
		)}
	</div>
	<div class:list={[ 
		"flex-1", 
		{ "ml-3": !hasBackButton }
	]}>
		<Heading1>{title}</Heading1>	
	</div>
  </div>