---
import IconStats from './icons/IconStats.astro';
import IconMyData from './icons/IconAddGame.astro';
import IconSettings from './icons/IconSettings.astro';

const currentPathName = new URL(Astro.request.url).pathname;
const isItemActive = (path: string) => currentPathName === path;
---

<div class="btm-nav">
	<a href="/"
		class:list={[ 
			"text-primary no-underline", 
			{ "active": isItemActive('/') }
		]}
	>
		<IconStats />
		 <small>Estadísticas</small>
	</a>
	<a href="/add-game" 
		class:list={[ 
			"text-primary no-underline", 
			{ "active": isItemActive('/add-game') }
		]}>
		<IconMyData />
		 <small>Añadir partida</small>
	</a>
	<a href="/settings"
		class:list={[ 
			"text-primary no-underline", 
			{ "active": isItemActive('/settings') }
		]}
	>
		<IconSettings />
		 <small>Ajustes</small>
	</a>
</div>
