---
import H2 from '../app/components/shared/Heading/H2.astro';
import Layout from '../app/layouts/Layout.astro';
---

<Layout title="Añadir partida">
	<main>
		<H2>Añadir partida</H2>
	</main>
</Layout>
