---
import AddGameForm from '../app/components/pages/AddGame/AddGameForm';
import Layout from '../app/layouts/Layout.astro';
---

<Layout title="Nueva partida" hasBackButton hideNavbar>
	<main>
		<AddGameForm />
	</main>
</Layout>
